node_modules/**
bin/dcl-lsp
bin/dcl-lsp.exe
src/**
scripts/**
tsconfig.json
**/*.map
.vscode/**
test-fixtures/**
test/**
docs/**
*.vsix
DEVELOPMENT.md
vitest.config.ts
vitest.config.js
.gitignore
.vscodeignore
